* {
    margin: 0;
    box-sizing: border-box;
}


/* body{
    display: flex;
} */

.ifNoNote{

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#4A4E74;
    color: white;
    
}

.ifNoNote--title{
    font-size: 50px;
}

.ifNoNote--button{
    margin-top: 50px;
    width: 300px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
}

.mainPage {
    display: flex;
}

aside {
    /* background-color: blue; */
    flex: 2;
    height: 100vh;
    padding: 20px;
    
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin-bottom: 50px;
}

header > button  {
    text-align: center;
    font-size: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #4A4E74;
    border-radius: 4px;
}

header > button:hover {
    background-color: white;
    color:  #4A4E74;
}

.note{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-around;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.selected--note{
    background-color: #4A4E74;
}

.note:hover{
    background-color: pink;
    color: blue;
}

main {
    flex: 6;
    height: 100vh;
}

textarea{
    padding: 40px;
    margin-top: 50px;
    width: 90%;
    display: none;
}