* {
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: red; */
    display: flex;
}

aside {
    /* background-color: blue; */
    flex: 2;
    height: 100vh;
    padding: 20px;
    
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 50px;
    margin-bottom: 50px;
}

header > button  {
    text-align: center;
    font-size: 50px;
    width: 50px;
    cursor: pointer;
    background-color: #4A4E74;
    border-radius: 4px;
}
/* 
header > button :hover {
    background-color: white;
} */

.note{
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: space-around;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.selected--note{
    background-color: #4A4E74;
}

.note:hover{
    background-color: pink;
    color: blue;
}

main {
    flex: 6;
    height: 100vh;
}

textarea{
    padding: 40px;
    margin-top: 50px;
    width: 90%;
    display: none;
}